body { 
    font-family: sans-serif ;
}
hr {
    color: blue;
}
h2 {
    text-align: center;
}
header ul li {
    list-style: none;
}
.scritteblu {
    color:blue;
}
.text-align2 {
    text-align: center;
}
#verdino {
    background-color: rgb(143, 241, 241);
}
#rosybrown {
    background-color: rosybrown
}
#gray {
    background-color: gray;
}
#blu {
    background-color: blue;
    color: blanchedalmond;
}
#alignend {
    text-align: end;
}